html{
	size:50%;
}
.gmailpic{
	float:right;
	padding-right:100px;
}
body{
	font-family:"Avenir Next";
	background-color:white;
}
p{
	font-size:12px;
}
h2{
	padding-left:100px;
}
.demo3 {  
     float:left;  
	 list-style:none;
     -webkit-transition: all 0.3s ease-in-out 0s;  
     -moz-transition: all 0.3s ease-in-out 0s;  
     -o-transition: all 0.3s ease-in-out 0s;  
     -ms-transition: all 0.3s ease-in-out 0s;  
     transition: all 0.3s ease-in-out 0s;  
     height:0;  
     font-family: serif;
     font-size:18px;  
     padding:10px 15px; 
 }  
    
 .demo3 :hover {  
     background-color: pink;  
     -webkit-transition: all 0.3s ease-in-out 0s;  
     -moz-transition: all 0.3s ease-in-out 0s;  
     -o-transition: all 0.3s ease-in-out 0s;  
     -ms-transition: all 0.3s ease-in-out 0s;  
     transition: all 0.3s ease-in-out 0s;  
     height:40px;  
 } 
.topmenu1{
	font-size: 18px;
	float:left;
	padding:10px 15px;
	list-style:none;
	font-family: serif;
}
.ultop{
	border:6px solid white;
}
h5{
	border-bottom:1px solid black;
	margin:1px;
	padding-left:10px;
}
.TOP{
	background-color:white;
	color:Blue;
	height:35px;
	border-bottom:5px solid black;
}
.TOP-logo{
	float:left;
	list-style:none;
	font-size:18px;
	padding:10px 20px;
	color:white;
}
.MID-logo{
	float:left;
	font-size:18px;
	padding:10px 20px;
	border-bottom:2px solid yellow;
}
.MID{
	padding:10px 80px;
	background-color: white;
}
.MID1 h1{
	font-size:20px;
}
.MID1 h2{
	font-size:15px;
	border-bottom:2px solid #BBFFEE;
}
.MID1 span{
	color:#ff4a4a
}
.BOT{
	background-color: white;
	color: #fff;
	height: 250px;
	padding: 10px;
}
.BOT-logo{
	float:left;
	font-size:16px;
}
.BOT-list{
	float:right;
}
.BOT ul{
	padding-bottom: 5px;
	list-style:none;
　	height:200px;
　	width:200px;
	
}
.pic1{
	height:180px;
	width:135px;
}
.company{
	font-size:20px;
}
.handsome{
	margin-top:2px;
}
.mailtome{
	text-align:center;
}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
.contact {
	float:left;
}
